pandas
numpy
matplotlib
scikit-learn
scipy
statsmodels
seaborn
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
pyarrow
jupyter
notebook
streamlit
duckdb
plotly
sentence-transformers
faiss-cpu
openai
python-dotenv
pyyaml


